:root {
    /* Colors */
        /* Primary */
        --paleBlue: hsl(225, 100%, 94%);
        --brightBlue: hsl(245, 75%, 52%);

        /* Neutral */
        --veryPaleBlue: hsl(225, 100%, 98%);
        --desaturatedBlue:  hsl(224, 23%, 55%);
        --darkBlue: hsl(223, 47%, 23%);

    /* Typography */
        /* Body Copy */
        --fontP: 16px;
        
        /* Font */
        --fontFamily: 'Red Hat Display', sans-serif;
        --fontWeightLight:  500;
        --fontWeightMed:    700;
        --fontWeightHeavy:  900;
}

body {
    font-family: var(--fontFamily);
    background-image: url('./images/pattern-background-desktop.svg'); 
    text-align: center;
}

h1  {
    font-weight: var(--fontWeightHeavy);
}

p {
    font-weight: lighter;
    font-size: var(--fontP);
    color: darkgray;
}

a {
    color: var(--brightBlue);
}

#order-window {
    position: absolute;
    overflow: hidden;
    background-color: var(--veryPaleBlue);
    border-radius: 25px;
    margin: auto;
    inset: 0;
    min-width: 20%;
    max-width: 30%;
    height: 40em;
}

#order-text {
    padding: 1%;
}

#plan {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(222, 100%, 95%);
    border-radius: 10px;
    margin: 2em;
}



#plan-change {
    font-size: .75em;
   
}