:root {
    /* Colors */
        /* Primary */
        --paleBlue: hsl(225, 100%, 94%);
        --brightBlue: hsl(245, 75%, 52%);

        /* Neutral */
        --veryPaleBlue: hsl(225, 100%, 98%);
        --desaturatedBlue:  hsl(224, 23%, 55%);
        --darkBlue: hsl(223, 47%, 23%);

    /* Typography */
        /* Body Copy */
        --fontP: 16px;
        
        /* Font */
        --fontFamily: 'Red Hat Display', sans-serif;
        --fontWeightLight:  500;
        --fontWeightMed:    700;
        --fontWeightHeavy:  900;
}

body {
    font-family: var(--fontFamily);
    background-image: url('./images/pattern-background-desktop.svg'); 
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    
}

h1  {
    font-weight: var(--fontWeightHeavy);
}

p {
    font-weight: lighter;
    font-size: var(--fontP);
    color: darkgray;
}

a {
    color: var(--brightBlue);
    font-weight: var(--fontWeightMed);
}

a:hover {
    transition: 200ms ease-out;
    text-decoration: none;
}

button {
    background-color: var(--brightBlue);
    font-family: var(--fontFamily);
    font-weight: var(--fontWeightHeavy);
    color: var(--veryPaleBlue);
    padding: 1.2em;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 80%;
    transition: 200ms ease-out;
}

#cancel {
    color: darkgray;
    background-color: var(--veryPaleBlue);
}

#cancel:hover {
    color: black;
}

#proceed {
    filter: drop-shadow(0 10px 5px darkgray);
}

#proceed:hover {
    background-color: hsl(245, 75%, 62%);
}

#hero-image {
    width: 100%;
}

#order-window {
    position: absolute;
    overflow: hidden;
    background-color: var(--veryPaleBlue);
    border-radius: 25px;
    margin: auto;
    padding-bottom: 60px;
    inset: 0;
    min-width: 25rem;
    max-width: 30rem;
    height: 40em;
    justify-content: space-evenly;
    filter: drop-shadow(0 10px 10px darkgray);
}

#description {
    padding: 0px 20px 0px 20px;
}

#order-text {
    padding: 1%;
}

#plan {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(222, 100%, 95%);
    border-radius: 10px;
    margin: 2em;
}

#plan-left {
    display: flex;
    align-items: center;
    justify-content: left;
}

#name-and-cost {
    font-size: 15px;
}

#plan-change {
    font-size: .75em;  
    padding-left: 20%;
}


