:root {
    /* Colors */
        /* Primary */
        --paleBlue: hsl(225, 100%, 94%);
        --brightBlue: hsl(245, 75%, 52%);

        /* Neutral */
        --veryPaleBlue: hsl(225, 100%, 98%);
        --desaturatedBlue:  hsl(224, 23%, 55%);
        --darkBlue: hsl(223, 47%, 23%);

    /* Typography */
        /* Body Copy */
        --fontP: 16px;
        
        /* Font */
        --fontFamily:   [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display);
        --fontWeight: 500, 700, 900;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('./images/pattern-background-desktop.svg');
}